.day_of_week{
    margin-left: 20%;
}

.day_of_week ul{
    justify-content: space-between;
    display: flex;
    margin-right: 1em;
}

.day_of_week ul li{
    margin-left: 0.5em;
}

.day_of_week ul li input[type="radio"] {
    appearance: none;
    display: none;
}

.day_of_week ul li input[type="radio"]:checked + label {
    background: #f8730e;
    color: #fff;
}

.day_of_week ul li label {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.timetable{
    position: relative;
}

.term_toggle{
    position: absolute;
    margin-top: -10px;
}

.firstTerm {
    background: #f7d2b0;
    color: #ed3902;
  }

.secondTerm {
    background: #ed3902;
    color: #f7d2b0;
  }

.class_info{
    display: flex;
    justify-content: flex-end;
}

.class_info button{
    height: 40px;
}

.class_time{
    margin-top: 40px;
}

.class_time ul li{
    margin-top: 1.5em;
    height: 40px;
    display: flex;
}

.class_time ul label{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background: #fcbd15;
    color: #fff;
}

.class_info{
    margin-left: 30px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class_info p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 499px) {
    .class_info p{
        max-width: 10ch;
    }
}